<div class="nav">


<% if @current_user.present? %>

<%= link_to " #{ @current_user.name } Profile", images_path, :class => "home1-nav" %>
<% else %>

  <%= link_to 'Sign in', login_path%>
  <%= link_to 'Sign up', new_user_path%>
<% end %>

</div>




</div> -->
<section>
    <div class="parallax-1">
      <div class="new-parallax">
        <div class="paralx-content-container">
          <h1 class="h1-paralax-hide">For best experience please make your browser wider</h1>
        </div>
        <div class="vertical-line">
           <div id="h-header-scroll-txt" style="transform: translate3d(0px, 0%, 0px);"><span>S</span> <span>C</span> <span>R</span> <span>O</span> <span>L</span> <span>L</span></div>
        </div>
      </div><!--parallax-1 -->
    </div><!--new-parallax -->
    <div class="paralx-content-container">

    </div>
  </section>

  <section>
    <div class="paralx-content-container">
      <h1 class="h1-paralax">Adventure awaits</h1>
      <h3 class="h3-paralax">Be brave. Inquisitive. Prepared for the journey. Ready for anything. Unafraid to fail - we never give up. Uncover your adventure spirit and we'll be with you all the way.</h3>
    </div>
  </section>

  <section>
    <div class="paralx-content-container">
      <h5>Experiences</h5>
      <h1 class="h1-paralax">Start your adventure</h1>
      <h3 class="h3-paralax">Push yourself harder than ever before. Redefine your limits. Match yourself against a series of unforgettable experiences and unique challenges. It’s time to say ‘I can. I will’.</h3>
    </div>
  </section>



  <section>
    <div class="parallax-1">

      <div class="paralx-content-container-right">
        <h5>Social</h5>
        <h1 class="h1-paralax">Share your adventure</h1>
        <h3 class="h3-paralax">dventurers and heroes come in all shapes and sizes. Here, we’re not the heroes but merely the narrators. This is about you. Your triumphs. Your setbacks. Your stories.</h3>
      </div>
    </div><!--parallax-1 -->

  </section>

  <section>
    <div class="parallax-1">
      <div class="paralx-content-container">
        <h1 class="h1-paralax-last">Adventurous</h1>

      </div>
    </div><!--parallax-1 -->

  </section>
