<div class="nav">

<%= link_to 'Sign up', new_user_path, :class => "" %>
<% if @current_user.present? %>

<%= link_to " #{ @current_user.name } Profile", images_path, :class => "home1-nav" %>
<% else %>

  <%= link_to 'Sign in', login_path, :class => "home1-sign-in"%>
<% end %>

</div>


<div class="main-home1">
<h1 class="page1-title">Adventurous</h1>
<h3 class="page1-subtitle">Share your favourite adventurous pictures...</h3>
</div>
