<div class="nav">


<% if @current_user.present? %>

<%= link_to " #{ @current_user.name } Profile", images_path, :class => "home1-nav" %>
<% else %>

  <%= link_to 'Sign in', login_path%>
  <%= link_to 'Sign up', new_user_path%>
<% end %>

</div>


<div class="main-home1">
<h1 class="page1-title">Adventurous</h1>
<h3 class="page1-subtitle">Share your favourite adventurous pictures...</h3>
<a href="#slide1"><img src="/assets/scroll.png" class="scroll-icon">
</div></a>



<div id="slide1">
  <div class="slide-1">
      <h1 class="header">Welcome to the Adventurous world wide app...</h1>

    <p class="text">Create your own profile by signing up and share your adventurous experience photos with your friends and get information about new place in the world.</p>

  </div>
</div>


<div id="slide1" class="slide">
  <div class="main-home1-1">

    <h1 class="page1-title">Adventurous</h1>
    <h3 class="page1-subtitle">Share your favourite adventurous pictures...</h3>


  </div>
</div>
