// google phont links///////////////////////////

@import url( 'https://fonts.googleapis.com/css?family=Lobster|Shrikhand');
@import url( 'https://fonts.googleapis.com/css?family=Pacifico');





// Body feuture///////////////////////////////////
//
body {
  font-family: Helvetica,Arial,sans-serif;
  background-color: #081732;
}



body.images-new {
  background-image: url('hero.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

body.images-edit {
  background-image: url('lady-climbing.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

body.users-edit {
  background-image: url('adventure-users-edit.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

body.images-show {
  background-color: #E7E8E7;
}

body.session-new {
  background-image: image-url("adventure.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

body.users-new {
  background-image: url('yosemite.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

body.images-index {
  background-color: white;
}

.nav-sign {
  padding-top: 20px;
}



// Home page(page-1)/////////////////////////////////////

.home1-nav {
  color: #A4A3A6;
  position: fixed;
}




@mixin backgrounds(){
  background-attachment: fixed;
  background-size: cover!important;
  background-position: center;
  background-blend-mode: screen;

}

html, body {
  margin:0; height:100%;
  font-family: Helvetica,Arial,sans-serif;

}

.h1-paralax{
  top:50%;
  left:50%;
  font-size:50px;
  color:#fff;
  width:100%;
  text-align:left;
  font-family: 'raisonne', sans-serif;
  text-shadow: 0 2px 2px #000;
  margin: 0;
}

.h1-paralax-last {
  top:50%;
  left:50%;
  font-size:50px;
  color:#fff;
  width:100%;
  text-align:left;
  font-family: 'raisonne', sans-serif;
  text-shadow: 0 2px 2px #000;
  margin: 0;
  text-align: center;
}

.h1-paralax-hide{
  display: none;
}

.h3-paralax{
  color:#fff;
  width:100%;
  text-align:left;
}

.paralx-content-container {
  width: 460px;
  height: 300px;
  z-index: 1000000;
  position: absolute;
  top: 50%;
  left: 32%;
}


 .p-paralax {
   font-family: Helvetica,Arial,sans-serif;
   position:absolute;
   top:70%;
   left:50%;
   transform:translate(-50%,-50%);
   word-wrap: normal;
   color: #fff;
   width:100%;
   text-align:left;
   font-size: 30px;

 }

div.vertical-line {
  width: 80px;
  height: 120px;
  border-right: 1px solid red;
  position: absolute;
  top: 680px;
}

h5{
  color: red;
}

#h-header-scroll-txt {
      transform: translate3d(0px, 0%, 0px);
      float: left;
      width: 16px;
      height: 156px;
      padding-left: 50px;
      color: white;
}

section {
  position: relative;
  height: 100%;
  margin-top: 0;
  @include backgrounds();



    &:nth-of-type(1){
      .parallax-1 {
        height:122vh;
        width:100%;
        position:relative;
        overflow: hidden;
        .new-parallax{
          z-index:-100000;
          @include backgrounds();
          height:100%;
          width:100%;
          position:relative;
          background-image:url('mountains-adventure.jpg');

 } /* .new-parallax */
    } /* .parallax-1 */
  } /* &:nth-of-type(1) */

       &:nth-of-type(2){
          background-image:url('nature-Images.jpg');
        }

       &:nth-of-type(3){
          background-image:url('photocontest.jpg');
        }

       &:nth-of-type(4){
          background-image:url('lady-climbing.jpg');
        }
       &:nth-of-type(5){
          background-image:url('yeyeye.jpg');
        }
}






// Sign up & sign in page/////////////////////////

.sign-container {
  width: 100%;
  margin: 0 auto;
  max-width: 525px;
  min-height: 670px;
  position: relative;
  box-shadow: 0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 130px;
}

form {
  display: block;
  margin-top: 0;
}

.table {
  margin: 0 auto;
  width: 374px;
}

fieldset {
  border: none;
  margin-bottom: 10px;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

input {
  text-align: left;
  font-size: 16px;
  min-height: 50px;
  min-width: 350px;
}

.button {
  font-size: 16px;
  background-color: #004E80;
  color: #000;
  border: 5px solid #004E80;
  border-radius: 10px;
  min-width: 353px;
  color: white;
  text-align: center;
}

label {
  color: white;
  font-size: 20px;
  margin-bottom: 20px;
}






// Profile page /////////////////////////////////////
.info-nav {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-nav {
  color: #A4A3A6;
  font-size: 20px;
}



.all_img {
  height: 300px;
  width: 300px;
  display: inline-block;
  padding: 10px;
  transition: transform 0.2s ease-in-out;
}

.all_img:hover {
  transform: scale(1.1);
}

.all_img_container-container {
  margin: 0 auto;
  max-width: 1094px;
}

.all_img_container {
  margin-left: auto;
  margin-right: auto;
  display: table;
  padding-top: 100px;
}

.page-image-title {
  color: #A4A3A6;
  font-family: 'Pacifico', cursive;
  font-size: 60px;
  text-align: center;
  text-shadow: 0 2px 2px #000;
  margin-top: 5px;
}


.div-back-title {
  height: 150px;
  width: 100%;
}


// for @media
.hiddenMenu {
  display: none;
}

.ham-icon {
  display: none;
}
// for @media
.nav-icon1 {
  height: 50px;
  width: 50px;
  display: none;
}







// show image page //////////////////////////////////////////

.a-black {
  color: black;
  font-size: 15px;
  padding-left: 0;
}

.a-grey-comment {
  color: #7b7b7b;
  font-size: 16px;
  padding-left: 0;
  font-weight: normal;
}

.a-under-image {
  padding-top: 30px;
}

.a-grey {
  color: #7b7b7b;
  font-size: 20px;
}


#container {
  max-width: 960px;
  margin: auto;
  background-color: white;
  margin-top: 100px;
  // display: flex;
}

#main {
  display: inline-block;
  width: 75%;
  background-color: #192625;
  padding: 5em 0;
}

#aside {
  display: inline-block;
  width: 21%;
  vertical-align: top;
  padding: 1em;
}

.main_img {
  margin: 0 auto;
  display: block;
  width: 100%;
}

.comment-container {
  height: 200px;
  width: 157px;
  box-shadow: 0 1px 10px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
  overflow: auto;
  padding: 15px 15px 2px;
  margin-top: 40px;
}

.create-button-comment {
  min-width: 178px;
  min-height: 20px;
  margin-top: 10px;
  color: black;
}

.create-button-comment-inside{
  min-width: 130px;
  min-height: 20px;
  color: white;
}


.comment-name {
  font-size: 30px;
  color: black;
  padding: 0;
}

.place-name {
  display: none;
}

.user-name {
  font-weight: bold;
  color: #5F7E67;
  font-family: Helvetica,Arial,sans-serif;
}


.border {
  border: 1px solid lightgrey;
  padding: 12px;
}

.textfield {
  min-width: 30px;
}

.delete-icon {
  height: 50px;
  width: 50px;
  cursor: pointer;
}

.edit_comment {
  display: none;
}
.edit-comment-id {
  width: 130px;
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}
// Mice///////////////////////////////////////////////

p {
  font-family: Helvetica,Arial,sans-serif;
  word-wrap: normal;
}

.home-icon {
  width: 30px;
  position: fixed;
  padding-top: 20px;
}

a {
  text-decoration: none;
  color: white;
  padding: 20px;
  font-size: 17px;
  cursor: pointer;
}



.nav {
  overflow: hidden;
  background-color: #081732;
  position: fixed;
  /* Set the navbar to fixed position */
  top: 0;
  /* Position the navbar at the top of the page */
  width: 100%;
  /* Full width */
  height: 50px;
  // center nav content
  display: flex;
  // justify-content: space-around; its help when you need space around your content
  align-items: center;
  padding-left: 20px;
  z-index: 1;
}



h1 {
  color: white;
}



a:hover {
  color: #599346;
}


.map {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
}

iframe {
  display: flex;
  flex-direction: column;
}








// @media query//////////////////////////////////////////
@media (max-width: 458px) {


  .page1-title {
    font-family: 'Pacifico', cursive;
    font-size: 50px;
    text-shadow: 0 2px 2px #000;
    color: white;


  }

  .page1-subtitle {
    margin-top: -40px;
    font-size: 15px;
  }


  .scroll-icon {
    padding-top: 5px;
    height: 50px;
  }

  .header {
    text-align: center;
    font-size: 20px;
    color: #fff;
    text-shadow: 0 2px 2px #000;
    padding-top: 80px;
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
  }

  .text {
    text-align: center;
    font-size: 15px;
    color: white;
    padding: 70px;
  }

  .page-image-title {
    font-size: 40px;
  }

  .all_img {
    height: 140px;
    width: 140px;
    align-items: center;
    padding: 5px;
  }

  .page-image-title {
    margin-left: 2px;
  }

  .info-nav {
    height: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .home-nav {
    color: #A4A3A6;
    font-size: 12px;
  }

  form {
    display: block;
  }

  .table {
    margin: 0 auto;
    width: 270px;
  }

  fieldset {
    border: none;
    margin-bottom: 10px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
  }

  input {
    text-align: left;
    font-size: 16px;
    min-height: 40px;
    min-width: 250px;
  }

  .button {
    font-size: 16px;
    background-color: #004E80;
    color: #000;
    border: 5px solid #004E80;
    border-radius: 10px;
    min-width: 254px;
    color: white;
    text-align: center;
  }

  .sign-container {
    width: 100%;
    margin: 0 auto;
    max-width: 350px;
    min-height: 600px;
    position: relative;
    box-shadow: 0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  .home-nav {
    display: none;
  }



  // hamburger icon under @ media////////////////////////////////////

  #nav-icon1 {
    width: 35px;
    height: 45px;
    position: relative;
    margin: 50px auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
  }

  #nav-icon1 span {
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background: #A4A3A6;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }

  #nav-icon1 span:nth-child(1) {
    top: 0;
  }

  #nav-icon1 span:nth-child(2) {
    top: 18px;
  }

  #nav-icon1 span:nth-child(3) {
    top: 36px;
  }

  #nav-icon1.open span:nth-child(1) {
    top: 18px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }

  #nav-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
  }

  #nav-icon1.open span:nth-child(3) {
    top: 18px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }




.ham-icon {
  border: 1px solid #A4A3A6;
  color: #A4A3A6;
  padding: 4px;
  display: inline;


}

.hiddenMenu {
  margin-right: 37  px;
  margin-top: 120px;


}
}






// @media////////////////////////////
@media (max-width: 923px) {


  #container {
    max-width: 649px;
    margin: auto;
    background-color: white;
    margin-top: 100px;
  }

  #aside {
    display: inline-block;
    vertical-align: top;
    padding: 1em;
    width: 93%;
  }

  #main {
    display: inline-block;
    width: 100%;
    background-color: #192625;
    padding: 3em 0;
  }

  .comment-container {
    height: 200px;
    width: 90%;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    overflow: auto;
    padding: 15px 15px 2px;
    margin: 0 auto;
  }

  form {
    display: inline-block;
    margin-top: 29px;
  }

  .main_img {
    margin: 0 auto;
    display: block;
    width: 100%;
    margin-top: 0;
  }

  h1 {
    text-align: center;
    color: black;
  }

  .place-name {
    display: inline;
  }

  .comment-div {
    width: 30px;
    margin: 0 auto;
    text-align: center;
  }

  .a-grey {
    font-size: 17px;
  }

  .comment-name {
    display: none;
  }

  .place-name {
    font-size: 30px;
    color: white;
    padding: 0;
  }
}

// @media////////////////////////////
@media (max-width: 720px) {

  .text {
    text-align: center;
    font-size: 20px;
    color: white;
    padding: 70px;
  }
}


// @media////////////////////////////
@media (max-width: 839px) {

  .home1-nav {
    color: #A4A3A6;
    position: fixed;
  }


  @mixin backgrounds(){
    background-attachment: fixed;
    background-size: cover!important;
    background-position: center;
    background-blend-mode: screen;

  }

  html, body {
    margin:0; height:100%;
    font-family: Helvetica,Arial,sans-serif;

  }

  .h1-paralax{
    top:50%;
    left:50%;
    font-size:50px;
    color:#fff;
    width:100%;
    text-align:left;
    font-family: 'raisonne', sans-serif;
    text-shadow: 0 2px 2px #000;
    margin: 0;
    font-size: 25px;
  }

  .h1-paralax-last {
    top:50%;
    left:50%;
    font-size:50px;
    color:#fff;
    width:100%;
    text-align:left;
    font-family: 'raisonne', sans-serif;
    text-shadow: 0 2px 2px #000;
    margin: 0;
    text-align: center;
    font-size: 30px;

  }

  .h1-paralax-hide {
    display:block;
    color: red;
    top: 50%;
    left: 32%;

  }

  .h3-paralax{
    color:#fff;
    width:100%;
    text-align:left;
    font-size: 15px;
  }

  .paralx-content-container {
    width: 60%;
    height: 300px;
    z-index: 1000000;
    position: absolute;
    top: 30%;
    left: 20%;
  }


   .p-paralax {
     font-family: Helvetica,Arial,sans-serif;
     position:absolute;
     top:70%;
     left:50%;
     transform:translate(-50%,-50%);
     word-wrap: normal;
     color: #fff;
     width:100%;
     text-align:left;
     font-size: 30px;

   }

  div.vertical-line {
    width: 80px;
    height: 120px;
    border-right: 1px solid red;
    position: absolute;
    top: 680px;
  }

  h5{
    color: red;
  }

  #h-header-scroll-txt {
        transform: translate3d(0px, 0%, 0px);
        float: left;
        width: 16px;
        height: 156px;
        padding-left: 50px;
        color: white;
  }

  section {
    position: relative;
    height: 100%;
    margin-top: 0;
    @include backgrounds();



      &:nth-of-type(1){
        .parallax-1 {
          height:122vh;
          width:100%;
          position:relative;
          overflow: hidden;
          .new-parallax{
            z-index:-100000;
            @include backgrounds();
            height:100%;
            width:100%;
            position:relative;
            background-image:url('Mount_Everest-mountains-adventure1.jpg');

   } /* .new-parallax */
      } /* .parallax-1 */
    } /* &:nth-of-type(1) */

         &:nth-of-type(2){
            background-image:url('nature-Images.jpg');
    }

         &:nth-of-type(3){
            background-image:url('photocontest.jpg');
    }

         &:nth-of-type(4){
            background-image:url('lady-climbing.jpg');
    }
         &:nth-of-type(5){
            background-image:url('yeyeye.jpg');
    }

}
}
